# Everyone in the Cloud Automation team needs to approve changes in this repo
* @akumoproject/cloud-automation

# PRs must be approved by at least two members of the team
* @akumoproject/cloud-automation
